{% extends "base.html" %}
{% load static %}
{% block title %} Profile Page {% endblock%}
{% block content %} 

{% if user.is_authenticated %}
    <h1> Profile Page </h1>

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
        <div class="col-md-4">
          {% if profile.picture %}
            <img src=" {{profile.picture.url}}" class="img-fluid rounded-start" alt="profile">
          {% else %}
            <img src="{% static 'default_image.jpg' %}" class="img-fluid rounded-start" alt="profile">   
          {% endif%}
        </div>
        <div class="col-md-8">
            <div class="card-body">
            <h5 class="card-title">User Name: {{ profile.user.username }}</h5>
            <p class="card-text">First Name: {{profile.user.first_name}}</p>
            <p class="card-text">Last Name: {{profile.user.last_name}}</p>
            <p class="card-text"><small class="text-body-secondary">{{profile.bio}}</small></p>
            </div>
        </div>
        </div>
    </div>
    
    {% if user.is_authenticated and user.profile != profile %}
      {% if is_pending %}
        <button class="btn btn-secondary" disabled>Requested</button>

      {% elif is_following %}
        <form method="post" action="{% url 'unfollow_user' profile.pk %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-success">Following</button>
        </form>

      {% else %}
        <form method="post" action="{% url 'send_follow_request' profile.pk %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Follow</button>
        </form>
      {% endif %}
    {% endif %}

    {% if not user.profile.is_archived %}
        {% if user.profile == profile %}
          <form method="post" action="{% url 'archive_account' %}">
            {% csrf_token %}
            <button class="btn btn-sm btn-warning">Archive My Account</button>
          </form>
        {% endif %}
    {% endif %}

{% else %}
    <h3> You must be <a href="{% url 'login_page'%}">Login</a> ... </h3> 
{% endif %}

{% endblock%}