<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}"   >Twitter</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

           {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'create_post'%}">Creat post</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'create_category'%}">Create Category</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'list_category'%}">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'category_feed'%}">Subscribed Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'users_list_page'%}">Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'incoming_requests'%}">Follow Requests</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'logout'%}">Logout</a>
            </li>  
           {% else %}
           <li class="nav-item">
             <a class="nav-link active" aria-current="page" href="{% url 'register'%}">Register</a>
           </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'login_page'%}">Login</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'users_list_page'%}">Searching Users</a>
          </li>
           {% endif %}
        </ul>          

        {% if user.is_authenticated %}
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{user.username}}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="{% url 'edit_register' %}">Edit Register</a></li>
              <li><a class="dropdown-item" href="{% url 'profile_page' user.profile.id %}">Profile </a></li>
              <li><a class="dropdown-item" href="{% url 'edit_profile_page' user.profile.id %}">Edit Profile </a></li>

            </ul>
          </li>
        {% endif %}
        </ul>

      </div>
    </div>
  </nav>